@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
/* Barra de precentacion */
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #2A7886;
    position:fixed;
    width: 100%;
    z-index: 5;
}
.navbar {
    display: flex;
    margin-top: 10px;
}
.logo {
    margin-left: 30px;
}
.logo a {
    text-decoration: none;
    color:#F1F3F4;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a {
    display: block;
    padding: 20px 20px;
    margin-bottom: 10px;
    color: #F1F3F4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar p {
    display: block;
    padding: 20px 20px;
    margin-bottom: 10px;
    color: #F1F3F4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #79BAC1;
}
/* FIN Barra de precentacion */

#p1 {
    height: 330px;
    width: 100%;
    border-bottom: 5px solid #2A7886;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Boton de citas */
#fondoBtn{
    background-color: black;
    position: absolute;
    float: left;
    width: 50%;
    height: 28%;

    color: #F1F3F4;
    font-size: 40px;

    z-index: 0;
}
#text-resalt{
    position: relative;
    top: 36%;
    text-align: center;
    z-index: 1;
}

.boton {
    opacity: 1;
    transition: opacity 0.5s;
    border: 0px;

    background-image: url('../Images/TCitas.jpg');
    background-position: center bottom;
    background-size: 450px 388px;

    color: #F1F3F4;
    font-size: 40px;

    margin-top: 0px; /* 63 */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.boton:hover {
    opacity: 0.5;
}

#fondoBtn2{
    background-color: black;
    position: absolute;
    right: 0;
    float: left;
    width: 50%;
    height: 28%;

    color: #F1F3F4;
    font-size: 40px;

    z-index: 0;
}

.boton2 {
    opacity: 1;
    transition: opacity 0.5s;
    border: 0px;

    background-image: url('../Images/TPas.jpg');
    background-position: center bottom;
    background-size: 450px 388px;

    color: #F1F3F4;
    font-size: 40px;

    margin-top: 0px; /* 63 */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.boton2:hover {
    opacity: 0.5;
}

#text-resalt2{
    position: relative;
    top: 35%;
    text-align: center;
    z-index: 1;
}

#fondoBtn3{
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 1px;
    float: left;
    width: 50%;
    height: 28%;

    color: #F1F3F4;
    font-size: 40px;

    z-index: 0;
}

.boton3 {
    opacity: 1;
    transition: opacity 0.5s;
    border: 0px;

    background-image: url('../Images/TEsp.jpg');
    background-position: center top;
    background-size: 450px 388px;

    color: #F1F3F4;
    font-size: 40px;

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.boton3:hover {
    opacity: 0.5;
}
#fondoBtn4{
    background-color: black;
    position: absolute;
    right: 0;
    bottom: 1px;
    float: left;
    width: 50%;
    height: 28%;

    color: #F1F3F4;
    font-size: 40px;

    z-index: 0;
}

.boton4 {
    opacity: 1;
    transition: opacity 0.5s;
    border: 0px;

    background-image: url('../Images/Docs.jpg');
    background-position: center top;
    background-size: 450px 298px;

    color: #F1F3F4;
    font-size: 40px;

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.boton4:hover {
    opacity: 0.5;
}

/* Boton de citas */

/* tablas */
.table-inicio {
    position: absolute;
    top: 8.3%;
    float: left;
    width: 60%;
    height: 10px;
    
}

.table-inicio p {
    text-align: center;
}

.table-inicio div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-inicio table {
    margin: 0 auto;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.table-inicio td,th {
    padding: 7px 20px ;
}

.table-inicio button {
    border: 0;
    background-color: #f1f3f400;
    color: #2A7886;
    font-size: 20px;
}

#transparent {
    border: 10px;
    margin-right: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}


#tablee {
    margin-top: 20px;
    position: absolute;
    left: 60px;
    text-align: center;

}
/* generador de citas */
#bott{
    margin: 5px 30px;
}

.Dia {
    height: 50%;
    width: 50%;
    position: relative;
    top: 25%;
    left: 35%;
    border: 4px solid #79BAC1;
    border-radius: 15px;
}
.Dia button {
    font-size: 15px;
    position: relative;
    left: 94%;
    border: #F1F3F4;
    background: #f1f3f400;
    color: #2A7886;
    text-transform: uppercase;
    font-weight: bolder;
}
.Dia h5 {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 45px;
    color: #2A7886;
}
.Dia input {
    place-self: center;
    height: 35px;
    width: 30%;
    font-size: 15px;
}

.btn-cita {
    border: 3px solid #79BAC1;
    width: 50%;
    border-radius: 5px;
    text-align: center;
    margin-left: 90px;
}
.btn-cita input {
    background-color: #79bac100;
    color: #2A7886;
    border: 0;
    margin-top: 0%;
}
