<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style-Root.css">
    <title>El matasanos</title>
</head>
<body>
    <header class="head">
        <div class="logo">
            <a> El matasanos </a>    
        </div>
        <nav class="navbar">
            <p> Bienvenido </p>
        {% with mensajes = get_flashed_messages() %}
            <a>{{ messages }}</a>
        {% endwith %}
        </nav>
    </header>

    <dialog class="Dia" id="dialog">
        <button  id="btnC"> x </button>
        <form class="formularioJoin" method="post" action="/GeneradorCitas">
            <div  id="bott">
                <h5> Datos citas </h5>
                <input class="input" name="Dia" type="text" placeholder="&#128197; Dia de la cita" required autofocus>
                <input class="input" name="NombreDoc" type="text" placeholder="&#128100; Nombre del Doctor" required autofocus>
                <input class="input" name="Hora" type="text" placeholder="&#128100; Hora" required autofocus>
            </div>
            <div class="btn-cita">
                <input id="boton" class="button-sub" type="submit" value="Generar cita">
            </div>
            <div id="tablee">
                {% if valor == 0 or data == "No tiene citas" %}
                <table><tr> <th> {{ data }} </th> </tr></table>
                {% else %}
                <table>
                    <tr>
                        <th> ID </th>
                        <th> Nombre </th>
                        <th> Dia de la cita </th>
                    </tr>

                    {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                    {% endfor %}
    
                </table>
                {% endif %}
            </div>
        </form>
    </dialog>

    <section id="p1">
        <aside class="table-inicio">
            <div>
                <canvas id="MyChart"></canvas>
            </div>
        </aside>
    </section>

    <section>
        <aside id="fondoBtn">
            <Button class="boton" id="btnA"> 
                <p>Citas</p>
            </Button>
            <p id="text-resalt">Citas</p>
        </aside>
        <aside id="fondoBtn2">
            <Button class="boton2" id="btnA"> 
                <p>Pacientes</p>
            </Button>
            <p id="text-resalt">Pacientes</p>
        </aside>
        <aside id="fondoBtn3">
            <Button class="boton3" id="btnA"> 
                <p>Especialidades</p>
            </Button>
            <p id="text-resalt2">Especialidades</p>
        </aside>
        <aside id="fondoBtn4">
            <Button class="boton4" id="btnA"> 
                <p>Doctores</p>
            </Button>
            <p id="text-resalt2">Doctores</p>
        </aside>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('MyChart');
        var Lunes = 1; //{{ Di_Lunes }};

        new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Lunes','Martes','Miercoles','Jueves','Viernes','Sabado','Domingo'],
            datasets: [{
            label: '# of Votes', 
            data: [Lunes, 4, 5, 2, 7, 1, 4],
            borderWidth: 1
            }]
        },
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        }
        });
    </script>
    <script>
        const $dialog = document.getElementById("dialog");
        const $btnA = document.getElementById("btnA");
        const $btnC = document.getElementById("btnC");

        $btnA.addEventListener("click",() => 
        {
            $dialog.showModal();
        })

        $btnC.addEventListener("click",() =>
        {
            $dialog.close();
        })
    </script>
</body>
</html>