<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style.css">
    <title>Document</title>
</head>
<body>
    <header></header>
    <div class="head">
        <div class="logo">
            <a> El matasanos </a>    
        </div>
        <nav class="navbar">
            <a href="#">NOSOTROS</a>
            <a href="#">CONTACTANOS</a>
            <a href="../templates/login.html">LOGIN</a>
        </nav>
    </div>
    <div class="Carrusel" id="Carrusel">
        <ul class="Carrusel-fotos">
            <li id="foto1"><img src="../static/Images/Imagen01.jpg" alt=""></li>
            <li id="foto2"><img src="../static/Images/Imagen02.jpg" alt=""></li>
            <li id="foto3"><img src="../static/Images/imagen03.jpg" alt=""></li>
        </ul>
        <ul class="Carrusel-menu">
            <li><a href="#foto1"><img src="../static/Images/Imagen01.jpg" alt=""></a></li>
            <li><a href="#foto2"><img src="../static/Images/Imagen02.jpg" alt=""></a></li>
            <li><a href="#foto3"><img src="../static/Images/imagen03.jpg" alt=""></a></li>
        </ul>
    </div>
    <section>
        <aside id="Col1"></aside>
        <article id="Col2">
            <h1>Lorem ipsum dolor sit, 
                amet consectetur adipisicing 
                elit. Nam, architecto numquam 
                vitae perferendis modi explicabo 
                delectus dolor. Laboriosam ullam 
                totam repudiandae! Mollitia, 
                quisquam incidunt deserunt corporis 
                dicta vel ducimus in.
            </h1>
        </article>
        <aside id="Col3"></aside>
    </section>
    <section>
        <div class="notas" id="notas">
            <h3>lorem</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta 
                adipisci facilis suscipit. Consectetur quidem laboriosam dolores 
                facilis culpa assumenda quas laborum laudantium, iste vel itaque 
                cupiditate beatae aspernatur est. Corrupti!
            </p>
        </div>
        <div class="video1" id="video1">
            <iframe src="https://www.youtube.com/embed/XJxBY-7WS-w?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </section>
    <section>
        <div id="bottom">
            <h4> Copyright 2079 - El matasanos, Los Juanes S.A.</h4>
        </div>
    </section>
</body>
</html>