<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style.css">
    <title>Document</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}

    {% if messages %}
    

    <header class="alert" role="alert">
        <strong> {{ messages }} </strong>
    </header>

    {% endif %}
    {% endwith %}

    <div class="head">
        <div class="logo">
            <a> El matasanos </a>    
        </div>
        <nav class="navbar">
            <a href="#">NOSOTROS</a>
            <a href="#">CONTACTANOS</a>
            <a id="btnA">LOGIN</a>
        </nav>
    </div>

    <dialog class="Dia" id="dialog">
        <button  id="btnC"> x </button>
        <form class="formularioJoin" method="post" action="/templates/index.html">
            <div  id="bott">
                <h5> INICIA SECION </h5>
                <ul>
                    <li>
                        <input class="input" name="Nombre" type="text" placeholder="&#128100; Usuario" required autofocus>
                    </li>
                    <li>
                        <input class="input" name="Email" type="text" placeholder="&#9993; Contraseña" required autofocus>
                    </li>
                </ul>
            </div>
            <div>
                <input id="boton" class="button-sub" type="submit" value="INGRESAR">
                <input id="boton" class="button-res" type="reset" value="LIMPIAR">
            </div>
        </form>
        <input id="botonT2" class="button-res" type="reset" value="REGISTRATE" onclick="location.href='/templates/Formulario.html'">
    </dialog>

    <div class="Carrusel" id="Carrusel">
        <ul class="Carrusel-fotos">
            <li id="foto1"><img src="../static/Images/Imagen01.jpg" alt=""></li>
            <li id="foto2"><img src="../static/Images/Imagen02.jpg" alt=""></li>
            <li id="foto3"><img src="../static/Images/imagen03.jpg" alt=""></li>
        </ul>
        <ul class="Carrusel-menu">
            <li><a href="#foto1"><img src="../static/Images/Imagen01.jpg" alt=""></a></li>
            <li><a href="#foto2"><img src="../static/Images/Imagen02.jpg" alt=""></a></li>
            <li><a href="#foto3"><img src="../static/Images/imagen03.jpg" alt=""></a></li>
        </ul>
    </div>

    <section>
        <aside id="Col1"></aside>
        <article id="Col2">
            <h1>Lorem ipsum dolor sit, 
                amet consectetur adipisicing 
                elit. Nam, architecto numquam 
                vitae perferendis modi explicabo 
                delectus dolor. Laboriosam ullam 
                totam repudiandae! Mollitia, 
                quisquam incidunt deserunt corporis 
                dicta vel ducimus in.
            </h1>
        </article>
        <aside id="Col3"></aside>
    </section>

    <section>
        <div class="notas" id="notas">
            <h3>lorem</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta 
                adipisci facilis suscipit. Consectetur quidem laboriosam dolores 
                facilis culpa assumenda quas laborum laudantium, iste vel itaque 
                cupiditate beatae aspernatur est. Corrupti!
            </p>
        </div>
        <div class="video1" id="video1">
            <iframe src="https://www.youtube.com/embed/XJxBY-7WS-w?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </section>

    <section>
        <div id="bottom">
            <h4> Copyright 2079 - El matasanos, Los Juanes S.A.</h4>
        </div>
    </section>

    <!-- <script type="text/javascript" src="__main__/static/Js/Login.js"></script> -->

    <script>
        const $dialog = document.getElementById("dialog");
        const $btnA = document.getElementById("btnA");
        const $btnC = document.getElementById("btnC");

        $btnA.addEventListener("click",() => 
        {
            $dialog.showModal();
        })

        $btnC.addEventListener("click",() =>
        {
            $dialog.close();
        })
    </script>

    <script>
        
    </script>

</body>
</html>