<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style-log.css">
    <title>El matasanos</title>
</head>
<body>
    <header>
    </header>

    <div class="head">
        <div class="logo">
            <a> El matasanos </a>    
        </div>
        <nav class="navbar">
            <a href="/templates/index.html">INICIO</a>
            <a href="#">NOSOTROS</a>
            <a href="#">CONTACTANOS</a>
            <a href="">LOGIN</a>
        </nav>
    </div>

    <div id="basura"> 
        <h1> fghj </h1> 
    </div>

    <div class="logueo" id="logueo-base">
        <h5>BIENVENIDO</h5>
    </div> 

</body>
</html>