<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style-log.css">
    <title>El matasanos</title>
</head>
<body>
    <header>
    </header>

    <div class="head">
        <div class="logo">
            <a> El matasanos </a>    
        </div>
        <nav class="navbar">
            <a href="index.html">INICIO</a>
            <a href="#">NOSOTROS</a>
            <a href="#">CONTACTANOS</a>
            <a href="">LOGIN</a>
        </nav>
    </div>

    <div id="basura"> 
        <h1> fghj </h1> 
    </div>

        <div class="logueo" id="logueo-base">
            <ul>
                <li>
                <h5> INICIA SECION </h5>
                </li>
                <li>
                <input class="input" type="text" placeholder="&#128100; Nombre" required autofocus>
                </li>
                <li>
                <input class="input" type="text" placeholder="&#9993; Correo" required autofocus>
                </li>
                <li>
                <div class="btn_form">
                    <input class="button-sub" type="submit" value="REGISTRAR">
                    <input class="button-res" type="reset" value="LIMPIAR">
                </div>
                </li>
            </ul>
        </div> 

</body>
</html>